:root {
  color-scheme: light dark;
  font-family:
    "SF Pro Display",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  --light-color: rgba(255, 255, 255, 0.75);
  --dark-color: rgba(255, 255, 255, 0.094);
  --light-bg: #efeef5;
  --dark-bg: #000;
  --light-text: #000;
  --dark-text: #fff;
  color: light-dark(var(--light-text), var(--dark-text));
}

body {
  margin: 0;
  padding: 0;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

div.gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, light-dark(var(--light-bg), var(--dark-bg)) 0%, light-dark(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)) 100%);
  z-index: 1;
  pointer-events: none;
}

div.content {
  width: 100%;
  height: 100%;
}

div.card {
  border-radius: 20px;
  background-color: light-dark(var(--light-color), var(--dark-color));
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  backdrop-filter: blur(5px);
}

div.card.title {
  height: 40px;
  padding: 0 10px;
}

div.titleholder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 2;
}

div.resize-warning,
div.rollno-input {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(10px);
  z-index: 9999;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.resize-warning.show,
.rollno-input.show {
  opacity: 1;
  pointer-events: auto;
}

.resize-warning svg,
.rollno-input svg {
  margin-bottom: 20px;
}

nav {
  background-color: light-dark(var(--light-color),
      var(--dark-color));
  margin: 5px;
  padding: 10px;
  height: calc(100vh - 30px);
  width: fit-content;
  border-radius: 20px;
  position: relative;
}

.highlight {
  --r: 20px;
  position: relative;
  border-radius: var(--r);
}

.highlight::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--r);
  padding: 1px;
  background: linear-gradient(135deg,
      light-dark(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
      rgba(255, 255, 255, 0.18) 30%,
      rgba(255, 255, 255, 0.05) 55%,
      rgba(255, 255, 255, 0.3));

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.highlight-strong {
  --r: 32px;
  position: relative;
  border-radius: var(--r);
}

.highlight-strong::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--r);
  padding: 3px;
  background: linear-gradient(135deg,
      light-dark(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)),
      light-dark(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3)) 30%,
      light-dark(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1)) 55%,
      light-dark(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)));

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.highlight::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: var(--r);

  background: linear-gradient(135deg,
      light-dark(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.12)),
      rgba(255, 255, 255, 0.03) 40%,
      rgba(255, 255, 255, 0.15));

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

button {
  border: none;
  border-radius: 20px;
  height: 40px;
  width: fit-content;
  padding: 0 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  background-color: light-dark(var(--light-color), var(--dark-color));
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  backdrop-filter: blur(5px);
  color: light-dark(var(--light-text), var(--dark-text));
}

button.null {
  background: none;
  box-shadow: none;
  backdrop-filter: none;
}

button.secondary {
  background-color: light-dark(var(--light-color), var(--dark-color));
}

button.primary {
  background-color: #0091FF !important;
  color: white !important;
}

button:hover {
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

button.icon {
  width: 40px;
  padding: 0;
}


button:active {
  transform: scale(1.2);
  filter: brightness(4);
  transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.input-div {
  border: none;
  border-radius: 25px;
  background-color: light-dark(rgba(0, 0, 0, 0.027), rgba(233, 233, 233, 0.1));
  width: 200px;
  margin: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  will-change: transform;
  backdrop-filter: blur(5px);
}

.input-div:focus-within {
  transform: scale(1.01);
  filter: brightness(1.05);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1.5);
}

input {
  background-color: transparent;
  padding: 0 12px;
  height: 40px;
  width: 100%;
  border: none;
  font-size: 13pt;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.input-div:active {
  transform: scale(1.05);
  filter: brightness(2);
}

nav ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: light-dark(#000, #fff);
  font-size: 13pt;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}

nav ul li {
  background-color: #00000000;
  margin: 0;
  align-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

nav ul li:hover {
  background-color: #ffffff17;
}

.active-layer {
  position: absolute;
  background: light-dark(rgba(0, 0, 0, 0.027), rgba(233, 233, 233, 0.1));
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  transform-origin: 0 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: transform, opacity, width, height;
}

.active-layer:active {
  transform: scale(1.2);
  filter: brightness(4);
  transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  position: relative;
  z-index: 2;
  transition: color 0.2s;
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}

nav ul li.active {
  font-weight: 600;
  color: #007AFF;
}

nav ul li:active {
  transform: scale(1.05);
  filter: brightness(4);
  transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

svg {
  height: 20px;
  width: 20px;
}

span {
  margin-left: 5px;
}

div.kahoot-options {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  height: 400px;
  width: 1284px;
}